name: terraform-main

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/*.tf'
  pull_request:
    types: [ opened, synchronize, reopened ]
    paths:
      - 'terraform/*.tf'

jobs:
  call_terraform_template:
    uses: ./.github/workflows/terraform-template.yml
    with:
      WORKING_DIRECTORY: "./terraform"
#    secrets:
#      INFRACOST_API_KEY: ${{ secrets.INFRACOST_API_KEY }}
#      TERRAFORM_STATE_BUCKET: ${{ secrets.TERRAFORM_STATE_BUCKET }}
#      TERRAFORM_STATE_KEY: ${{ secrets.TERRAFORM_STATE_KEY }}
#      TERRAFORM_STATE_DYNAMODB_TABLE: ${{ secrets.TERRAFORM_STATE_DYNAMODB_TABLE }}



